body{
    background-color: #03203C;
}
a{

    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #03203C;
}
.side-bg-color{
    background-color: #02B290;
}
.footer{
    text-align: center;
    background-color: #242B2E;
}

